.form {
    width: 440px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.651);
    padding-bottom: 20px;
    box-shadow: 0px 5px 20px darkgray;
}

.input {
    margin-top: 15px;
    display: block;
    margin-left: 40px;
    margin-bottom: 15px;
    margin-right: 40px;
}

.radio {
    margin-top: 0;
}

.slider {
    width: calc(100% - 80px);
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.textarea {
    resize: none;
}

.submitButton {
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}